<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Shapi" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Myapp">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="<%= asset_path 'shapi_logo.png' %>" type="image/png">
    <!--<link rel="icon" href="/icon.svg" type="image/svg+xml">-->
    <link rel="apple-touch-icon" href="<%= asset_path 'shapi_logo.png' %>">

    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Preahvihear&display=swap" rel="stylesheet">


    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex items-center justify-center min-w-screen h-screen p-4 overflow-hidden">
    <div>
      <h1 class="text-4xl font-bold mb-4 primary-text-color">Welcome to Shapi!</h1>
      <h2 class="text-2xl mb-2">Sa Shapi, Hapi!</h2>
      <p class="text-lg mb-6">Your one-stop shop for all things which makes you happy!</p>
      <div class="flex space-x-4 justify-center">
        <button id="open-auth-modal" type="button" class="secondary-btn-color btn text-white font-bold py-2 px-4 rounded">Get started!</button>
      </div>
    </div>
    <img src="<%= asset_path 'shapi_logo.png' %>" alt="Welcome Image" class="w-1/3">

    <!-- Auth Modal -->
    <div id="auth-modal"
        class="fixed inset-0 hidden items-center justify-center z-50">
      <div class="absolute inset-0 bg-black opacity-50"></div>

      <div class="bg-white rounded-lg p-6 w-full max-w-md relative">

        <button id="close-auth-modal"
                class="absolute top-2 right-3 text-gray-500 text-xl font-bold hover:text-red-400 cursor-pointer">
          &times;
        </button>

        <h2 class="text-2xl font-bold mb-4 text-center">Welcome to Shapi</h2>

        <!-- Tabs -->
        <div class="flex justify-center mb-4 space-x-4">
          <button id="login-tab" class="font-bold border-b-2 border-blue-500">Login</button>
          <button id="signup-tab" class="text-gray-500">Sign Up</button>
        </div>

        <!-- LOGIN FORM -->
        <div id="login-form">

          <%= form_with url: session_path, method: :post, data: { turbo: false } do |f| %>

            <% if flash.now[:alert] %>
              <div class="bg-red-100 text-red-500 border border-red-300 px-3 py-2 rounded mb-3 text-sm">
                <%= flash.now[:alert] %>
              </div>

              <script>
                document.addEventListener("DOMContentLoaded", function() {
                  const authModal = document.getElementById("auth-modal");
                  authModal.classList.remove("hidden");
                  authModal.classList.add("flex");
                });
              </script>
            <% end %>

            <div class="mb-3">
              <%= f.label :email_address, "Email", class: "block" %>
              <%= f.email_field :email_address, placeholder: "Enter your email", class: "w-full border rounded px-2 py-1" %>
            </div>

            <div class="mb-3">
              <%= f.label :password, class: "block" %>
              <%= f.password_field :password, placeholder: "Enter your password", class: "w-full border rounded px-2 py-1" %>
            </div>

            <%= f.submit "Log In",
                  class: "w-full primary-btn-color text-white py-2 rounded" %>
          <% end %>

        </div>

        <!-- SIGNUP FORM -->
        <div id="signup-form" class="hidden">

          <%= form_with model: User.new, url: users_path, method: :post, data: { turbo: false } do |f| %>

            <% if flash.now[:signup_errors] %>
              <div class="bg-red-100 text-red-500 border border-red-300 px-3 py-2 rounded mb-3 text-sm">
                <%= flash.now[:signup_errors] %>
              </div>

              <script>
                document.addEventListener("DOMContentLoaded", function() {
                  const authModal = document.getElementById("auth-modal");
                  authModal.classList.remove("hidden");
                  authModal.classList.add("flex");

                  loginTab = document.getElementById("login-tab");
                  signupTab = document.getElementById("signup-tab");
                  signupTab.classList.add("border-b-2", "border-blue-500", "font-bold");
                  loginTab.classList.remove("border-b-2", "border-blue-500", "font-bold");

                  const loginForm = document.getElementById("login-form");
                  const signupForm = document.getElementById("signup-form");
                  loginForm.classList.add("hidden");
                  signupForm.classList.remove("hidden");
                });
              </script>
            <% end %>

            <div class="mb-3">
              <%= f.label :username, class: "block" %>
              <%= f.text_field :username, placeholder: "Enter your username", class: "w-full border rounded px-2 py-1" %>
            </div>

            <div class="mb-3">
              <%= f.label :email_address, class: "block" %>
              <%= f.email_field :email_address, placeholder: "Enter your email", class: "w-full border rounded px-2 py-1" %>
            </div>

            <div class="mb-3">
              <%= f.label :password, class: "block" %>
              <%= f.password_field :password, placeholder: "Enter your password", class: "w-full border rounded px-2 py-1" %>
            </div>

            <div class="mb-3">
              <%= f.label :password_confirmation, class: "block" %>
              <%= f.password_field :password_confirmation, placeholder: "Confirm your password", class: "w-full border rounded px-2 py-1" %>
            </div>

            <%= f.submit "Create Account",
                  class: "w-full secondary-btn-color text-white py-2 rounded" %>
          <% end %>

        </div>

      </div>
    </div>


  </body>
</html>
