<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Shapi" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Myapp">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="<%= asset_path 'shapi_logo.png' %>" type="image/png">
    <!--<link rel="icon" href="/icon.svg" type="image/svg+xml">-->
    <link rel="apple-touch-icon" href="<%= asset_path 'shapi_logo.png' %>">

    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&display=swap" rel="stylesheet">


    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col h-screen max-h-screen p-4 ">
    <header>
      <nav class="navbar flex justify-between">
        <div class="flex items-center space-x-4">
          <img src="<%= asset_path 'shapi_logo.png' %>" alt="Shapi Logo" class="h-16 w-16">
          <div class="text-xl">
            <h1 class="primary-text-color font-bold">Shapi</h1>
            <h2 class="secondary-text-color">Sa Shapi, Hapi!</h2>
          </div>
        </div>
        <div class="flex space-x-10 items-center">
          <div>
            <% if current_user %>
              <span class="text-gray-700">Welcome, <%= current_user.username %>!</span>
            <% else %>
              <%= link_to "Login", new_session_path, class: "primary-text-color hover:text-blue-600" %>
            <% end %>
          </div>
          <div class="relative inline-block">
            <input type="text"
                  name="search"
                  placeholder="Search..."
                  class="border rounded px-2 py-1 pl-8">

            <i class="fas fa-search absolute left-2 top-1/2 -translate-y-1/2 text-gray-500"></i>
          </div>

        </div>
      </nav>
      
    </header>
    
    <main class="flex flex-row overflow-hidden grow p-4 space-x-2">
      <div class=" text-shadow-gray-950 text-2xl">
        <aside class="sidebar sticky top-4 h-full w-48 p-4 backdrop:blur-sm bg-white/50 rounded-lg shadow-lg">
          <ul class="flex flex-col justify-around items-center h-full text-right">
            <li class="sidebar-item <%= 'active' if current_page?(home_path) %>">
              <%= link_to "Home", home_path,
                  class: "sidebar-link #{'active' if current_page?(home_path)}" %>
            </li>

            <li class="sidebar-item <%= 'active' if current_page?(cart_path) %>">
              <%= link_to "Cart", cart_path,
                  class: "sidebar-link #{'active' if current_page?(cart_path)}" %>
            </li>

            <li class="sidebar-item <%= 'active' if current_page?(orders_path) %>">
              <%= link_to "Orders", orders_path,
                  class: "sidebar-link #{'active' if current_page?(orders_path)}" %>
            </li>
            <li><%= button_to "Logout", session_path, method: :delete, class: "sidebar-link block text-center", id: "logout-btn" %></li>
          </ul>
        </aside>
      </div>
      <div class="flex flex-col overflow-y-scroll min-h-full w-full p-4 backdrop:blur-sm bg-white/50 rounded-lg shadow-lg">
        <%= yield %>
      </div>
    </main>
    <footer class="flex items-center justify-center py-4 w-full">
      <p>&copy; <%= Time.current.year %> Shapi</p>
    </footer>
  </body>
</html>
